/*awesome website style*/

body{
    margin: 0;   
}
.top {
    background-color: #1f2937;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 15px;
    color: #f9faf8;    
    font-size: 24px;
    font-weight: bolder;    
}

.modal {
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;   
}

.container{    
    width: 350px;
}
.modal-header{
    font-size: 48px;
    color: #f9faf8;
}
.modal-text{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.sign-up button{
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

.random-header{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px 0;
}

.card-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
   
}

.card img{
    display: flex;   
    flex-direction: column;
    width: 220px;
    height: auto;
}

.card{
    width: 250px;

}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    background-color: #e5e7eb;
    height: 500px;
}

.quote .signature {
    font-weight: bold;
    text-align: end;
}

.quote .quote-body{
    display: flex;
    justify-content: center;
}

.quote-text{
    width: 75%;
}

.call{
    display: flex;
    align-items: center;    
    justify-content: space-around;
    background-color: #3882f6;
    height: 80px;
    margin: 70px 85px;
    color: #e5e7eb; 
}

.call-button button{
    background-color: #3882f6;
    border-style: solid;
    border-color: #f9faf8;
    color: #e5e7eb;
    font-weight: 200px;
    border-radius: 8px;
    padding: 5px 25px;
}

.call .call-container .call-head{
    font-weight: bold;
    font-size: larger;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}